{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Admin Panel</h1>
              <span class="subheading">Manage your post here</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<center>
          <!-- Pager -->
          <h1>This is a Dashboard page.</h1>
          <h1>Basic Action</h1>
          <a href="/edit/0"><button class="btn btn-success rounded">Add a new post</button></a>
          <a href="/logout"><button class="btn btn-success rounded">Log Out</button></a>
          <hr>
          <h2>Upload Files</h2>
          <br>
          <form action="/uploader" method="post" enctype="multipart/form-data">
            <input type="file" name="file1">
            <button type="submit" class="btn btn-primary" name="button">Submit</button>
          </form>
          <hr>
          <h2>Edit Posts</h2>
          <table border = "2" cellpadding="10">
			  <thead>
			  	<tr>
			  		<td>Sno</td>
			  		<td>Title</td>
			  		<td>Date</td>
			  		<td>Edit</td>
			  		<td>Delete</td>
			  	</tr>
			  </thead>

				{% for post in posts %}
					<tr>
						<td>{{post.sno}}</td>
						<td>{{post.title}}</td>
						<td>{{post.date}}</td>
						<td><a href="/edit/{{post.sno}}"><button class="btn btn-warning rounded">Edit</button></a></td>
						<td><a href="/delete/{{post.sno}}"><button class="btn btn-danger rounded">Delete</button></a></td>
					</tr>
				{% endfor %}

			</table>
</center>
        </div>
      </div>
    </div>

  {% endblock %}
